* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
  list-style: none;
}
* button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.navbar {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  width: 301px;
  height: 820px;
  gap: 8px;
  padding: 8px;
}
.navbar-menu {
  display: flex;
  flex-direction: column;
  background-color: #121212;
  border-radius: 8px;
  padding: 8px 12px;
}
.navbar-menu_Home, .navbar-menu_Search, .navbar-menu_Library {
  font-size: 1rem;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 4px 12px;
  gap: 20px;
}
.navbar-menu_Home svg path, .navbar-menu_Search svg path, .navbar-menu_Library svg path {
  fill: #ffffff;
}
.navbar-menu_Home p, .navbar-menu_Search p, .navbar-menu_Library p {
  color: #ffffff;
  font-weight: bold;
}
.navbar-library {
  background-color: #121212;
  border-radius: 8px;
  overflow: hidden;
  overflow-y: scroll;
}
.navbar-library::-webkit-scrollbar {
  display: none;
}
.navbar-library_top {
  display: flex;
  flex-direction: column;
  background-color: #121212;
  border-radius: 8px 8px 0 0;
  z-index: 1;
  position: absolute;
  max-width: 283.75px;
  width: 100%;
}
.navbar-library_top__title {
  display: flex;
  align-items: center;
  padding: 8px 16px;
}
.navbar-library_top__title .library {
  cursor: pointer;
  padding: 4px 8px;
  display: flex;
  margin-right: 40px;
}
.navbar-library_top__title .library svg {
  margin-right: 12px;
}
.navbar-library_top__title .library svg path {
  fill: #a7a7a7;
}
.navbar-library_top__title .library p {
  color: #a7a7a7;
  font-weight: 400;
}
.navbar-library_top__title .library:hover svg path {
  fill: #ffffff;
}
.navbar-library_top__title .library:hover p {
  color: #ffffff;
}
.navbar-library_top__title .icons {
  display: flex;
  align-items: center;
}
.navbar-library_top__title .icons button {
  cursor: pointer;
  padding: 8px;
}
.navbar-library_top__title .icons button svg {
  display: flex;
}
.navbar-library_top__title .icons button svg path {
  fill: #a7a7a7;
}
.navbar-library_top__title .icons .plus-btn:hover,
.navbar-library_top__title .icons .arrow-btn:hover {
  background-color: #1a1a1a;
  border-radius: 500px;
}
.navbar-library_top__title .icons .plus-btn:hover svg path,
.navbar-library_top__title .icons .arrow-btn:hover svg path {
  fill: #ffffff;
}
.navbar-library_top__tags {
  margin: 8px 16px;
}
.navbar-library_top__tags ul {
  display: flex;
  align-items: center;
  gap: 8px;
}
.navbar-library_top__tags ul li {
  cursor: pointer;
  font-size: 14px;
  padding: 4px 12px;
  color: #ffffff;
  border-radius: 32px;
  background-color: rgba(57, 57, 57, 0.3);
}
.navbar-library_top__tags ul li:hover {
  background-color: rgba(57, 57, 57, 0.5);
}
.navbar-library_content {
  padding: 0 8px 8px;
  position: relative;
  margin-top: 95px;
}
.navbar-library_content__search {
  padding: 2px 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-library_content__search .searchbar .search-btn {
  display: flex;
  justify-content: center;
  padding: 8px;
}
.navbar-library_content__search .searchbar .search-btn svg path {
  fill: #a7a7a7;
}
.navbar-library_content__search .searchbar .search-btn:hover {
  background-color: rgba(57, 57, 57, 0.3);
  border-radius: 500px;
}
.navbar-library_content__search .searchbar .search-btn:hover svg path {
  fill: #ffffff;
}
.navbar-library_content__search .droplist .displayed {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 0 12px 8px;
  cursor: pointer;
}
.navbar-library_content__search .droplist .displayed span {
  color: #ffffff;
  font-size: 14px;
}
.navbar-library_content__search .droplist .displayed svg path {
  fill: #ffffff;
}
.navbar-library_content__search .droplist .arrow-up {
  display: none;
}
.navbar-library_content__list ul {
  display: flex;
  flex-direction: column;
}
.navbar-library_content__list ul li {
  padding: 8px;
  cursor: pointer;
}
.navbar-library_content__list ul li .artists {
  display: flex;
  align-items: center;
  gap: 8px 12px;
}
.navbar-library_content__list ul li .artists-img {
  height: 48px;
  width: 48px;
}
.navbar-library_content__list ul li .artists-img img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.navbar-library_content__list ul li .artists p {
  color: #ffffff;
}
.navbar-library_content__list ul li .playlists {
  display: flex;
  align-items: center;
  gap: 8px 12px;
}
.navbar-library_content__list ul li .playlists-img {
  height: 48px;
  width: 48px;
}
.navbar-library_content__list ul li .playlists-img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.navbar-library_content__list ul li .playlists-text p {
  color: #ffffff;
}
.navbar-library_content__list ul li .playlists-text span {
  color: #a7a7a7;
}
.navbar-library_content__list ul li .albums {
  display: flex;
  align-items: center;
  gap: 8px 12px;
}
.navbar-library_content__list ul li .albums-img {
  height: 48px;
  width: 48px;
}
.navbar-library_content__list ul li .albums-img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.navbar-library_content__list ul li .albums-text p {
  color: #ffffff;
}
.navbar-library_content__list ul li .albums-text span {
  color: #a7a7a7;
}
.navbar-library_content__list ul li:hover {
  background-color: #1a1a1a;
  border-radius: 8px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  line-height: 1.6;
}
body .content {
  display: flex;
}

.main {
  padding: 19px 22px;
  margin: 8px 8px 8px 0;
  width: 1619px;
  background-color: #121212;
  border-radius: 8px;
  overflow-y: scroll;
  overflow: hidden;
}
.main .selected {
  display: flex !important;
}
.main-content {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.main .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.main .header-buttons {
  display: flex;
  cursor: pointer;
  gap: 8px;
}
.main .header-buttons_previous {
  margin-right: 20px;
}
.main .header-buttons_prev, .main .header-buttons_next {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  background-color: rgba(0, 0, 0, 0.7019607843);
  border-radius: 100%;
  height: 32px;
  width: 32px;
}
.main .header-buttons_prev svg path, .main .header-buttons_next svg path {
  fill: #ffffff;
}
.main .header-rightSide {
  display: flex;
  gap: 8px;
  align-items: center;
}
.main .header-rightSide_install {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5411764706);
  border-radius: 50px;
  padding: 4px 12px;
  cursor: pointer;
}
.main .header-rightSide_install span {
  display: flex;
  margin-right: 8px;
}
.main .header-rightSide_install span svg path {
  fill: #ffffff;
}
.main .header-rightSide_install p {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}
.main .header-rightSide_install:hover {
  transform: scale(1.04);
}
.main .header-rightSide_user {
  display: flex;
}
.main .header-rightSide_user .user-btn {
  background-color: rgba(0, 0, 0, 0.5411764706);
  border-radius: 100%;
}
.main .header-rightSide_user .user-btn img {
  display: flex;
  margin: 4px;
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 100%;
}
.main .header-rightSide_user:hover {
  transform: scale(1.04);
}

.player {
  width: 100%;
  height: 80px;
}

.hello header {
  margin-bottom: 16px;
}
.hello header h1 {
  color: #ffffff;
  font-size: 2rem;
}
.hello-list {
  display: flex;
}
.hello-list #hello-list {
  display: flex;
  column-gap: 24px;
  flex-wrap: wrap;
}
.hello-list_content {
  display: flex;
  width: 506.66px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.1019607843);
  transition: background-color 0.3s ease;
  border-radius: 4px;
  margin-bottom: 16px;
  cursor: pointer;
}
.hello-list_content:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.hello-list_content:hover .hello-list_content__Text-btn {
  display: flex;
}
.hello-list_content__Img img {
  height: 100%;
  border-radius: 4px 0 0 4px;
}
.hello-list_content__Text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 16px;
}
.hello-list_content__Text p {
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
}
.hello-list_content__Text-btn {
  display: none;
}
.hello-list_content__Text-btn .playBtn {
  background-color: #1ed760;
  border-radius: 100%;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
}
.hello-list_content__Text-btn .playBtn:hover {
  transform: scale(1.04);
}

.recently-listened header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.recently-listened header p {
  font-size: 14px;
  color: #a6a6a6;
  font-weight: bold;
}
.recently-listened header h1 {
  color: #ffffff;
}
.recently-listened header h1,
.recently-listened header p {
  cursor: pointer;
}
.recently-listened header h1:hover,
.recently-listened header p:hover {
  text-decoration: underline;
}
.recently-listened_list #recently-list {
  display: flex;
  gap: 25px;
}
.recently-listened_list #recently-list li {
  height: 253px;
  width: 175px;
}
.recently-listened_list #recently-list li .recents {
  padding: 16px;
  background-color: #181818;
  border-radius: 6px;
  height: 100%;
  width: 100%;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.recently-listened_list #recently-list li .recents:hover {
  background-color: #282828;
}
.recently-listened_list #recently-list li .recents:hover .recents-content_imgContent__btn {
  display: flex;
}
.recently-listened_list #recently-list li .recents-content_imgContent {
  width: 143px;
  height: 143px;
  position: relative;
  margin-bottom: 16px;
}
.recently-listened_list #recently-list li .recents-content_imgContent__img img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}
.recently-listened_list #recently-list li .recents-content_imgContent__btn {
  display: none;
  position: absolute;
  bottom: 8px;
  right: 8px;
}
.recently-listened_list #recently-list li .recents-content_imgContent__btn .playBtn {
  background-color: #1ed760;
  border-radius: 100%;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
}
.recently-listened_list #recently-list li .recents-content_imgContent__btn .playBtn:hover {
  transform: scale(1.04);
}
.recently-listened_list #recently-list li .recents-text {
  min-height: 62px;
}
.recently-listened_list #recently-list li .recents-text p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  max-width: 100%;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
}
.recently-listened_list #recently-list li .recents-text span {
  color: #a6a6a6;
  cursor: pointer;
}
.recently-listened_list #recently-list li .recents-text span:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=index.css.map */
